body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.first-line {
  display: flex;
  justify-content: space-between;
}


.single-line-email {
  width: 800px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
}
.msg-glimpse {
  display: flex;
  justify-content: center;
  color: grey;
}
.total-email {
  margin-top: 30px;
  display: flex;
  width: 850px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #F5F5F5;;
}
.check-box {
  margin-top: 15px;

}